body{
    margin-top: 20px;
    background-image: url(Images/musicBack.png);
    text-align: center;

    
}
button{
    margin-top: 100px;
    border: none;
    display: inline-block;
    font-size: 30px;
    height: 500px;
    width: 7%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#Q{
    background-color:lightcoral;
}
#W{    
    height: 475px;
    background-color: gold ;
}
#E{
    height: 450px;
    background-color: yellow;

}
#R{
    height: 425px;
    background-color: rgb(77, 250, 77);

}
#T{
    height: 400px;
    background-color: skyblue;

}
#Y{
    height: 375px;
    background-color: darkorchid;

}
#H{
    height: 350px;
    background-color: violet;

}
#J{
    height: 325px;
    background-color: lightcoral;

}
#K{
    height: 300px;
    background-color: gold;

}
#L{
    height: 275px;
    background-color: yellow;

}
#B{
    height: 250px;
    background-color: rgb(77, 250, 77);

}
#N{
    height: 225px;
    background-color: skyblue;

}
#M{
    height: 200px;
    background-color: darkorchid;

}
